<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>This is a header <!-- A#2 --> </header>
        <div>Sign up</div> <!-- B#4 change-->
        <div>Admin</div>  <!-- B#6 -->
    <article>This is an article section <!-- A#3 --></article>
    <footer>This is a footer <!-- A#3 --></footer>
</body>
</html>